/.phpunit.cache
/node_modules
# /public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.env.local
.env.*.local
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
# /config/services.php
.htaccess
/resources/views/templates

# Laravel Cache & Logs
/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
!/storage/logs/.gitignore

# OS & Temp Files
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
*.swp
*.swo
