RewriteOptions inherit

# --- PHP HANDLER UNTUK FOLDER INI ---
<FilesMatch "\.php$">
    SetHandler application/x-lsphp82
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Arahkan semua request ke /public
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ /public/$1 [L,QSA]
</IfModule>
